Dockerfile (copia)
Doc/
postgres-data/
'Sin título 1.odt'
challenges/.venv
challenges/main_ant.py
challenges/main_ejemplo.py
challenges/poetry.lock
challenges/__pycache__/
challenges/requirements (copia).txt'
challenges/tox.ini
challenges/'uploadFiles copy.py'
challenges/libraries/__pycache__/
challenges/Aux/
challenges/tox.ini
challenges/'uploadFiles copy.py'
challenges/main_ejemplo.py
challenges/main_ant.py

